body {
    /* background-color: black; */
    /* color: white !important; */
    font-family: 'Trebuchet MS', sans-serif;
}

/* Useful things */
button {
    background-color: transparent;
    border-style: solid;
    border-radius: 4px;
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
}

.vertical-line {
    background-color: gray;
    width: 1px;
}

/* Overall page layout */
.flex {
    display: flex;
}

#page-container {
    /* color: black; */
    display: flex;
    height: 98vh;
}

#left-sidebar {
    width: 50%;
    max-width: 800px;

    /* resize: both; */
    overflow: auto;
}

#current-calculator {
    padding-left: 20px;
}

#right-sidebar {
    font-size: 20px;
    width: 20%;
    max-width: 400px;

    /* resize: both; */
    overflow: auto;
}

#rainbow-button {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

/* Calculator buttons */

#calculators {
    padding: 10px;
}

.calc-btn {
    border: 1px solid;
    border-color: lightgray;

    padding: 12px;
    margin-top: 10px;

    position: relative;
    width: 100%;

    /* Don't let the text flow off the button */
    overflow: hidden;
}

.current-calc-btn {
    background-color: #E6EAF0;
}


/* Calculator Fields */
.outer-result-title {
    font-size: 20px;
    color: #54585A;

    padding-top: 40px;
    padding-bottom: 15px;
}

.inner-result-title {
    font-size: 17px;
    padding-top: 20px;
}

.result-description {
    font-size: 15px;
    padding-top: 20px;
}

.result-error {
    font-size: 15px;
    padding-top: 20px;
}

.result-solutions {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;

    margin-right: 40px;
    padding: 10px 30px 30px 30px;

    background-color: #F4F6F8;

    /* Scroll sideways */
    overflow: auto;
}

.text-field {
    font-size: 18px;
}


/* Solution steps of an equation  */
.solution-step {
    font-size: 18px;

    margin-top: 20px;
}

.solution-step-details {
    margin-top: 15px;

    padding-left: 15px;
}

.solution-step-title {
    text-indent: -20px;
}

.solution-step-indented {
    margin-left: 10px;
    border-left: 2px solid gray;
    padding-left: 15px;
}

.show-steps-btn {
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: underline;

    border: none;
    border-radius: 0px;
    padding: 0px;
}


/* Mathquill fields */
.mq-string-equation {

}

.mq-string-text {
    line-height: 1.8;
}

.mq-math-mode {
    margin: 0px;
    line-height: 1.0;
    padding: 0px 0px 0px 0px;
    text-indent: 0px !important;
}

.mq-static {
    font-size: 20px !important;
}

.mq-editable-field {
    font-size: 20px;
    margin-top: 30px;
    width: 90%;
    /* background-color: #F4F6F8; */
    /* border-radius: 5px !important; */
}

.mq-root-block {
    padding: 12px 10px 10px 10px !important;
}

/* The graph */
#graph-container {
    position: relative;
    margin: 3%;
    height: 90%;
    width: 90%;
}

.graph-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#point-box {
    position: absolute;
    z-index: 100;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 2px;

    font-size: 20px;
}

#point-box .mq-root-block {
    padding: 8px 5px 4px 5px !important;
}
